body {
    background-image: url("../images/fondo-home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #ff5722; /* Cambia el color al pasar el ratón */
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn{
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn:hover{
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before{
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active{
    transform: scale(0.9);
}


/* Estilos para la sección Hero */
.hero {
    /*background-image: url('hero-background.jpg');*/
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #000;
}

.shop-btn {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.shop-btn:hover {
    background-color: #d84315;
}

/* Estilos para la sección Featured Products */
.featured-products {
    text-align: center;
    padding: 50px 0;
}

.featured-products h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.product {
    max-width: 300px;
    margin: 0 auto 30px;
}

.product img {
    max-width: 100%;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}
